.places {
    display: flex;
}

.places article .price_by_night {
    color: #FF5A5F;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}
.places article .information {
    height: 80px;
    border: 1px 1px 0 0 solid #DDDDDD;
}
